---
layout: default
---

<div class="home">

  <h1 class="center"> Welcome!  </h1>
  <p class="thin center">Following contributors have used this repository and submitted their first pull request successfully! Follow instructions at <a href="https://github.com/sushant-j/my-first-pull-request#my-first-pull-request">repository</a> to to see how to make your first PR.</p>
  <h1 class="page-heading center">Contributors</h1>
  <ol>
    <!-- You can use the syntax as a template for your own entries.
         Just copy and paste, change the values and you're done! -->
    <!-- User number 1 -->
    <li>
      <a href="https://github.com/sushant-j/"> 
        Sushant J
      </a>
      <a class="" href="https://twitter.com/sushdagr8">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.quora.com/profile/Sushant-Joshi-5">
        <i class="fa fa-quora"></i>
      </a>
    </li>
	
    <li>
      <a href="https://github.com/DanishSiraj"> 
        Danish Siraj
      </a>
      <a href="https://facebook/danish.wani.100">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
  </ol>
</div>
