---
layout: default
---

<div class="home">

  <h1 class="center"> Welcome!  </h1>
  <p class="thin center">Following contributors have used this repository and submitted their first pull request successfully! Follow instructions at <a href="https://github.com/sushant-j/my-first-pull-request#my-first-pull-request">repository</a> to to see how to make your first PR.</p>
  <h1 class="page-heading center">Contributors</h1>
  <ol>
    <!-- You can use the syntax as a template for your own entries.
         Just copy and paste, change the values and you're done! -->
    <!-- User number 1 -->
    <li>
      <a href="https://github.com/sushant-j/"> 
        Sushant Joshi
      </a>
      <a class="" href="https://twitter.com/sushdagr8">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.quora.com/profile/Sushant-Joshi-5">
        <i class="fa fa-quora"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/purva11198/"> 
        Purva_Chaudhari
      </a>
      <a href="https://www.facebook.com/purva.chaudhari.5015">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.quora.com/profile/Purva-Chaudhari">
        <i class="fa fa-quora"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/DanishSiraj"> 
        Danish Siraj
      </a>
      <a class="" href="https://www.linkedin.com/in/danish-siraj-52a034147/">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://facebook.com/danish.wani.100">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="" href="https://twitter.com/DanishWani100">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/RushikeshJachak"> 
        Rushikesh J
      </a>
      <a href="https://www.facebook.com/profile/rockzzrushi0203">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.quora.com/profile/Rushikesh-Jachak">
        <i class="fa fa-quora"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/Bumsquest/"> 
        Shubham Shirpurkar
      </a>
      <a class="" href="https://twitter.com/TruManUtdFan">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/mayurcybercz/"> 
        Mayur R
      </a>
      <a class="" href="https://twitter.com/mayur.cybercz640">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/ida-09/"> 
        Aditya M
      </a>
    </li>
 <li>
      <a href="https://github.com/zainabnomi/"> 
        Zainab Nomi
      </a>
    </li>
     <li>
      <a href="https://github.com/tusharulhare/"> 
        Tushar Ulhare
      </a>
    </li>
     <li>
      <a href="https://github.com/OmDx"> 
        Omkar D
      </a>
    </li>
  </ol>
</div>
